# 🛎️ For local dev
# 👉 Rename this file to .env.local
# 👉 Fill in the values below.

# Expo & Next.js)
PUBLIC_API_URL=http://localhost:8787
PUBLIC_APP_URL=http://localhost:3001
PUBLIC_SUPABASE_ANON_KEY=
PUBLIC_SUPABASE_URL=
PUBLIC_SUPPORT_EMAIL=
PUBLIC_METADATA_NAME="Oracule"
PUBLIC_METADATA_DESCRIPTION="타로 카드 리딩 서비스"
PUBLIC_R2_URL=
PUBLIC_KAKAO_JS_KEY=
PUBLIC_EAS_OWNER=
PUBLIC_EAS_PROJECT_ID=

# Cloudflare Wrangler
JWT_VERIFICATION_KEY=
DATABASE_ID=aa5e3923-0f1b-469a-8bb8-d10fb866efe0
VERTEX_SERVICE_ACCOUNT_JSON=